html
	head
		title Count visitors
	body
		form(id='counter', name='counter', method='post', action='/some')
			input(
			id='num'
			name='num' 
			type='text'
			)
			button#but Visited!
	footer Yeslie
