#remaining{
	margin:60px 233px;
}

#progress{
	border-radius:50%;
  margin-left:-53px;
	width:105px;
	height:105px;
	text-align:center;
	display:block;
	margin:30px;
	color:#9F9F9F;
	font-family: 'Open Sans', sans-serif;
	font-size:32px;
	position:relative;
	background:url(http://www.9dt.com.br/codepen/progress_chart.jpg) no-repeat;
	background-position:0px -100px;
}

#progress strong{
	font-weight:normal;
	background:#FFF;
	width:75px;
	height:75px;
	display:block;
	border-radius:50%;
	line-height:75px;
	position:relative;
	top:15px;
	left:15px;
}

#progress span{
	display:block;
	-webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	-ms-transform: rotate(0deg);
  	-o-transform: rotate(0deg);
  	transform: rotate(0deg);
	width:75px;
	height:75px;
	margin:15px;
	position:absolute;
	top:0px;
	left:0px;
}

#progress span:after{
	content:'';
	width:0px;
	heght:0px;
	display:block;
	position:absolute;
	top:-7px;
	left:50%;
	margin-left:-6px;
	border-bottom:8px solid #FFF;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	
	 
}

#progress:before{
	content:'';
	position:absolute;
	width:88px;
	height:88px;
	top:6px;
	left:6px;
	border:2px solid rgba(255,255,255,0.3);
	border-radius:50%;
}
