/********************************************************************************/
/* 점수 게이지 푸쉬쉭 없어지는 효과*/
#puff {
    display:none;
    position:absolute;
    top:0;
    left:0;
    height:32px;
    width:32px;
    background: url(http://i.imgur.com/wvPeK.png) no-repeat;
}
/********************************************************************************/


/********************************************************************************/
/* 흑과 백 색깔 바꾸는 플립 효과 */
/* entire container, keeps perspective */
.flip-container {
	margin-left: 70px;
	perspective: 1000;
	/*-webkit-perspective-origin: */
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	float: left;
	width: 80px;
	height: 80px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front {
	backface-visibility: hidden;
	width: 80px;
	height: 80px;
	background: url('hourglass.gif') 0 0;
	background-size: 80px 80px;
	position: absolute;
}

.back{
	backface-visibility: hidden;
	width: 80px;
	height: 80px;
	background-color: black;
	position: absolute;
}
/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
/********************************************************************************/