@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

body {
	background-image : url('./background.jpg');
	background-size: 100%;
	font-family: 'Nanum Brush Script', serif;
	overflow: auto;
	font-size: 18px;
}

#wrapper {
	width: 960px;
	height: 680px;
	margin: 0 auto;
	position: relative;
}

.top {
	width: 100%;
	height: 50px;
	background-color: rgba(50, 50, 60, 0.6);
	position: relative;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.top div {
	padding-left: 20px;
	padding-top: 10px;
	font-size: 30px;
	color:#fff;
}

.exit {
	position: absolute;
	top: 8px;
	right: 10px;
	background: url('exit.png') 0 0;
	background-size: 100% 100%;
	width: 15px;
	height: 25px;
}

.left {
	float: left;
	width: 212px;
	margin-top: 10px;
}

.playerInfo {
	position: relative;
	height: 90px;
	background-color: blue;
	padding-left: 20px;
	padding-top: 20px;
	margin-bottom: 15px;
	line-height: 2.3em;
	background-color: #eee;
	/*background-color: rgba(255, 255, 255, 0.3);*/
}

.playerNickname {
	color:#000;
	font-size: 2em;
}

.playerLevel {
	position: absolute;
	top: 20px;
	right: 20px;
}

.chatting {
	width: 192px;
	height: 370px;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 15px;
	color: #fff;
	background-color: rgba(255,255,255,0.2);
	position: relative;
}

.under-the-chatting {
	width: 192px;
	position: absolute;
	bottom: 10px;
}

.inputText {
	height: 25px;
	width: 120px;
}

.sendButton {
	height: 31px;
}

.bottomLeftRadius {
	border-bottom-left-radius: 7px;
}

.main {
	float: left;
	width: 738px;
	height: 640px;
	margin-left: 10px;
	margin-top: 10px;
	background-size: 100% 100%;
	background-color: rgba(118,118,118,0);
	color: #fff;
	border-bottom-right-radius: 7px;
	position: relative;
}

.leftOfMain {
	width: 200px;
	height: 100%;
	float: left;
	position: relative;
}
.roundNum {
	font-size: 3em;
	margin-top: 20px;
	margin-left: 40px;
	font-weight: bold;
}

.possiblePointField {
	position: absolute;
	bottom: 20px;
	width: 150px;
	height: 150px;
	margin-left: 20px;
	background-color: #ea8cb4;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
}

.possiblePointText {
	font-size: 1.5em;
	margin-top: 30px;
	text-align: center;
}

.possiblePoint {
	font-size: 4em;
	text-align: center;
}

.rightOfMain {
	width: 528px;
	height: 100%;
	float: left;
	position: relative;
}

.assistance {
	float: right;
	height: 80px;
	margin-right: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.nickname {
	text-align: right;
	font-size: 2em;
}

.BNWbyRound {
	color: #808080;
	background-color: #ffd541;
	border-collapse: collapse;
}

td {
	padding: 5px 7px;
}

.status {
	margin-top: 20px;
	float: right;
	position: relative;
	width: 500px;
	height: 80px;
}

.score {
	width: 50px;
	height: 70px;
	margin-top: 5px;
	text-align: center;
	font-size: 4em;
	position: absolute;
}

.color {
	width: 80px;
	height: 80px;
	left: 50px;
	position: absolute;
	margin-left: 20px;
	background: url('hourglass.gif') 0 0;
	background-size: 80px 80px;
}

.pointGauge {
	right: 10px;
	position: absolute;
	margin-top: 15px;
	height: 50px;
	border-style: hidden;
	border-collapse: collapse;
}

#urGauge5 {
	background-color: #8ad5f0;
}#urGauge4 {
	background-color: #50c0e9;
}#urGauge3 {
	background-color: #2cb1e1;
}#urGauge2 {
	background-color: #16a5d7;
}#urGauge1 {
	background-color: #0099cc;
}

#myGauge5 {
	background-color: #89c5f0;
}#myGauge4 {
	background-color: #4fa8e8;
}#myGauge3 {
	background-color: #2d96e0;
}#myGauge2 {
	background-color: #1586d6;
}#myGauge1 {
	background-color: #0077cc;
}

#notiMessage {
	position: relative;
	float: left;
	margin-top: 20px;
	width: 350px;
	height: 80px;
	color: #222;
	font-size: 1.5em;
	text-align: center;
	line-height: 80px;
	background-image: url("notiMessage.png");
	background-size: 100% 100%;
}

.myZone{
	clear: both;
}

.inputNumField{
	float: left;
	position: relative;
	margin-top: 30px;
	margin-left: 30px;
}

.myZone .inputText{
	height: 40px;
	width: 180px;
}

.myZone .sendButton{
	width: 70px;
	height: 40px;
	box-sizing: content-box;
}