body {
	background-image : url('./img/background.jpg');
	background-color: #502801;
	background-size: 100%;
	background-repeat: no-repeat;
	
	color: #ffd9b4;
	font-family: 나눔바른고딕;
	overflow: auto;
	text-align: center;
}

#wrapper {
	width: 960px;
	height: 680px;
	margin: 0 auto;
	display: none;
}

.left-zone {
	float: left;
	margin-top: 30px;
	width: 240px;
}

.player-name {
	font-size: 2em;
}

.player-score {
	font-size: 3.5em;
	margin: 10px 0px;
}

.chatting {
	width: 200px;
	height: 140px;
	background-color: #fff;
	margin-top: 20px;
	margin-left: 15px;
	opacity: 0.2;
}

.under-the-chatting {
	width: 200px;
	margin-left: 15px;
	position: relative;
}

.chat-text {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 25px;
	width: 151px;
}

.chat-button {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 31px;
}

.center-zone {
	float:left;
	margin-top: 30px;
	width: 480px;
}

.round {
	font-size: 6.5em;
	margin-top: 5px;
	padding-bottom: 25px;
}

.info-message {
	font-size: 2em;
}

.black-or-white {
	width: 170px;
	height: 200px;
	background-color: #ffd9b4;
	margin: 25px 20px;
	padding: 0px 15px;
	box-size: border-box;
}

.color1, .color2 {
	float: left;
}

.game-guide {
	margin-top: 24px;
	width: 480px;
	height: 50px;
	float: left;
	font-size: 2em;
	color: #ec315e;
}

.input-wrapper {
	clear: both;
	float: left;
	width: 480px;
	margin-top: 20px;
}

.input-text {
	float: left;
	margin-left: 115px;
	height: 25px;
	width: 200px;
}

.input-button {
	float: left;
	height: 31px;
	width: 50px;
}

.right-zone {
	float:left;
	margin-top: 30px;
	width: 240px;
}

.point-wrapper {
	margin-top: 20px;
}

.point {
	margin-top: 10px;
	font-size: 5em;
}